# Terraform working directory
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform variable files with real values
*.tfvars

# Keep example variable files
!*.tfvars.example
# Old Terraform project
terraform-old/

# Local test files
test.py